@import "tailwindcss";

:root {

  --clan-starescare: rgba(136, 1, 170, 1);
  --clan-watercross: rgba(65, 229, 248, 1);
  --clan-fossilcall: rgba(130, 88, 62, 1);
  --clan-beatleap: rgba(229, 34, 37, 1);
  --clan-skymind: rgba(250, 146, 0, 1);
  --clan-formstorm: rgba(233, 233, 233, 1);
  --clan-secretkeep: rgba(65, 46, 229, 1);
}



/* The "Fling" Animations */
@keyframes fling-left {
  0% { transform: translateX(70px); opacity: 0; }
  5% { opacity: 1; }
  95% { opacity: 1; }
  100% { transform: translateX(-70px); opacity: 0; }
}

@keyframes fling-right {
  0% { transform: translateX(-70px); opacity: 0; }
  5% { opacity: 1; }
  95% { opacity: 1; }
  100% { transform: translateX(70px); opacity: 0; }
}

/* Classes to trigger them */
.arrow-fling-left {
  animation: fling-left 0.4s ease-out forwards;
}

.arrow-fling-right {
  animation: fling-right 0.4s ease-out forwards;
}